<p id="notice"><%= notice %></p>

<h1>Localisations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @localisations.each do |localisation| %>
      <tr>
        <td><%= link_to t('show'), localisation %></td>
        <td><%= link_to t('edit'), edit_localisation_path(localisation) %></td>
        <td><%= link_to t('destroy'), localisation, method: :delete, data: { confirm: t('confirm') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new Localisation'), new_localisation_path %>
