<!DOCTYPE html>
<html>
  <head>
    <title>LocalisationRuby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id = "fr">
    <p>
      <%= link_to "french.png",{:locale=>'fr'}%>
    </p>

  </div>
  <div id = "en">
    <p>
      <%= link_to "english.png",{:locale=> 'en'} %>
    </p>
  </div>

    <%= yield %>
  </body>
</html>
