<!DOCTYPE html>
<html>
  <head>
    <title>LocalisationRuby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  <div id = "navbar">
    <ul>
      <li><%= link_to "Localisations",localisations_path %></li>
      <li><%= link_to "Cities",cities_path %></li>

   </ul>
   <div id = "fr">
    <p>
      <%= link_to image_tag("french.png",size: "30x30"),{:locale=>'fr'}%>
    </p>

  </div>
  <div id = "en">
    <p>

      <%= link_to image_tag("english.png",size: "30x30"),{:locale=> 'en'} %>
    </p>
  </div>

    <%= yield %>
  </body>
</html>
